html,body{
    width: 100%;
    height: 100%;
}
.navbar{
    background: lightblue;
}

.navbar .navbar-brand{
    color: tomato;
    font-size: 30px;
    font-family: cursive;
}
.navbar .nav-link{
    color: white;
}
ul.navbar-nav li a.nav-link{
    color: white;
}
ul.navbar-nav li.active a.nav-link{
    transition: all.3s;
}
ul.navbar-nav li a.nav-link:hover{
    color: yellow;
}
.navbar .navbar-toggler{
    border: 1px solid red;
}
.navbar .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#home{
    background: url(images/tractor.jpg);
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: orange;
}
.home .landing-text p{
    font-size: 30px;

}


/*.fixed{
    background: url(images/trees.jpg);
    display: table; 
    width: 100%;
    position: relative;
    height: 100%;
}*/
/*.fixed-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: red;
}*/
#contact{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)),
    url(images/carbege.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.card{
    transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
  }
  
  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-color: orange;
    color: white;
    font-weight: bold;

  }

 
